@import 'bootstrap';

@import 'bootstrap-icons';

@import './display-alert.css';

@import'./masthead.css';

@import'./navbar.css';

@import'./card.css';

@import'./palette.css';

@import './form.css';

@import './category.css';

@import './standard.css';

@import './search.css';

.padding {
    padding-top: 80px;
}

.padding2 {
    padding-top: 300px;
}

.box-auth{

    margin-bottom: 40% !important;
}

.box-category{

    margin-bottom: 40% !important;
}

.box-show{

    margin-bottom: 20% !important;
}