.masthead {
    height: 60vh;
    min-height: 500px;
    background-image: url('/public/storage/media/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 80px; */
    background-attachment: fixed;
  
  }