.masthead {
    height: 60vh;
    min-height: 500px;
    background-image: url('https://static.vinted.com/assets/seller-promotion/other/banner-wide-9b45d0aa9a311c4ff6013e9cf3bc2b6646468be3d2f553192c63598685fcc177.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }