.btn_standard{
    color: white ;
    background-color: var(--color-A) ;
    transition: 0.5s ;
}
.btn_standard:hover{
    background-color: var(--color-S) ;
    color: white ;
    transition: 0.5s ;
}

.transition_05{
    transition: 0.5s;
}

.transition_03{
    transition: 0.3s;
}

.title-page{
    position: relative;
}

.title-page::before{
    content: "";
    position: absolute;
    bottom: -100%;
    left: 38%;
    /* transform: translate(0,-50%); */
    /* width:30%; */
    width:100px;
    height: 6px;
    background:var(--color-A);
    /* transition: .5s; */
}

.input_focused:focus {
    box-shadow: 0px 0px 10px 1px var(--color-A) !important;
    -webkit-box-shadow: 0px 0px 10px 1px var(--color-A) !important;
    -moz-box-shadow: 0px 0px 10px 1px var(--color-A) !important;
    color: var(--color-A) !important;
}